.catalog-page {
  background-color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  margin-top: 4rem;
}

.catalog-page h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}